altgraph==0.16.1
arrow==0.12.1
cassiopeia==3.0.21
certifi==2018.10.15
Click==7.0
cx-Freeze==5.1.1
datapipelines==1.0.5
decorator==4.3.0
emoji==0.5.1
et-xmlfile==1.0.1
Flask==1.0.2
future==0.17.1
fuzzywuzzy==0.17.0
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
macholib==1.11
MarkupSafe==1.1.0
merakicommons==1.0.5
mkl-fft==1.0.6
mkl-random==1.0.1
networkx==2.2
numpy==1.15.3
openpyxl==2.5.9
pandas==0.23.4
pefile==2018.8.8
Pillow==5.3.0
py2exe==0.9.2.2
pycurl==7.43.0.2
PyInstaller==3.4
python-dateutil==2.7.3
python-Levenshtein==0.12.0
pytz==2018.5
pywin32==223
pywin32-ctypes==0.2.0
six==1.11.0
sortedcontainers==2.0.5
UNKNOWN==0.0.0
Werkzeug==0.14.1
wincertstore==0.2
xlrd==1.1.0
