<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<style type="text/css">
  body
  {
    background-image: url(https://66.media.tumblr.com/757d89eb788de91b57d6578ab9778bcb/tumblr_opg8egoYlP1vsjcxvo2_r1_540.gif), url();
    background-repeat: repeat;
    background-color: black;
  }
  </style>
  
  <body>
    <div class='video'>
      <div class="yt">
      </div>
    </div>
	
  <img src="https://66.media.tumblr.com/14c367a9a867b2b0f8703ceb60bf8dcd/tumblr_o362phRIqh1slvqiko1_540.gif">

  <img src="https://i.pinimg.com/originals/98/e0/60/98e060b48623ac0c9ce1b1f83e8ddb39.gif">
  
  <img src="https://66.media.tumblr.com/ba23b17b1fad1904853cba65968721e7/tumblr_p7wfohoUGs1xrbmsdo1_500.gif">

  </body>
</html>